{% extends "base.html" %}
{% block welcome %} <H2> Welcome {{ userprofile }} </H2> {% endblock %}
    {% block content %}
    <p> <a href = {% url tasks.views.add_intra_task %}> Create a task within {{ userprofile.dept }} </a> </p>
    <P> <a href = {% url tasks.views.add_cross_task %}> Add a cross departmental task </a> </p>
    
        {% if user_tasks %}
            <p><h1>Tasks assigned to you:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in user_tasks %}
                        <tr>
                            <td><a href="{% url tasks.views.display_task task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td><a href="{% url tasks.views.edit_task task.pk %}">Edit</a>/<a href="{% url tasks.views.delete_task task.pk %}">Delete</a></td>
                            <td><a href="{% url tasks.views.add_cross_task task.pk %}">For another department</a>/<a href="{% url tasks.views.add_intra_task task.pk %}">For {{userprofile.dept}}</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks assigned to you</p>
        
        {% endif %}
        
        
        {% if dept_tasks %}
            <p><h1>Tasks assigned to {{userprofile.dept}}:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in dept_tasks %}
                        <tr>
                            <td><a href="{% url tasks.views.display_task task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}{% if task.isxdepartmental %}({{task.origindept}}){% endif %}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td><a href="{% url tasks.views.edit_task task.pk %}">Edit</a>/<a href="{% url tasks.views.delete_task task.pk %}">Delete</a></td>
                            <td><a href="{% url tasks.views.add_cross_task task.pk %}">For another department</a>/<a href="{% url tasks.views.add_intra_task task.pk %}">For {{userprofile.dept}}</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks assigned to {{userprofile.dept}}</p>
        
        {% endif %}
    
        
        
        
        {% if approval_pending_tasks %}
            <p><h1>Tasks for {{userprofile.dept}}, pending approval:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Origin Department</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in approval_pending_tasks %}
                        <tr>
                            <td><a href="{% url tasks.views.display_task task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}</td>
                            <td>{{task.origindept}}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td><a href="{% url tasks.views.edit_task task.pk %}">Approve</a>/<a href="{% url tasks.views.delete_task task.pk %}">Delete</a></td>
                            <td><a href="{% url tasks.views.add_cross_task task.pk %}">For another department</a>/<a href="{% url tasks.views.add_intra_task task.pk %}">For {{userprofile.dept}}</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks pending approval</p>
        
        {% endif %}
        
        
        
        {% if dept_created_crosstasks %}
            <p><h1>Tasks for other departments created by {{userprofile.dept}}:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Target Department</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in dept_created_crosstasks %}
                        <tr>
                            <td><a href="{% url tasks.views.display_task task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}</td>
                            <td>{{task.targetdept}}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td>{% if task.isUnapprovedCrosstask %}<a href="{% url tasks.views.edit_task task.pk %}">Edit</a>/<a href="{% url tasks.views.delete_task task.pk %}">Delete</a>{% else %}Approved{% endif %}</td>
                            <td><a href="{% url tasks.views.add_cross_task task.pk %}">For another department</a>/<a href="{% url tasks.views.add_intra_task task.pk %}">For {{userprofile.dept}}</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks from {{userprofile.dept}} to other departments.</p>
        
        {% endif %}
    
    {% endblock %}
