{% extends "dash/base.html" %}
    {% block content %}
    
        {% if user_tasks %}
            <p><h1>Tasks assigned to you:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in user_tasks %}
                        <tr>
                            <td><a href="{% url 'tasks.views.display_task' task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td><a href="{% url 'tasks.views.edit_task' task.pk %}">Edit</a></td>
                            <td><a href="{% url tasks.views.add_task task.pk %}">Create</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks assigned to you</p>
        
        {% endif %}
        
        
        {% if dept_tasks %}
            <p><h1>Tasks assigned to {{userprofile.dept}}:</h1>
            <p><table border=1 class="sortable">
                        <tr>
                            <th>Subject</th>
                            <th>Creator</th>
                            <th>Date Created</th>
                            <th>Deadline</th>
                            <th class="sorttable_nosort"></th>
                            <th class="sorttable_nosort">Add a subtask</th>
                        </tr>

                    
                    
                    {% for task in dept_tasks %}
                        <tr>
                            <td><a href="{% url 'tasks.views.display_task' task.pk %}">{{task.subject}}</a></td>
                            <td>{{task.taskcreator.user.first_name}} {{task.taskcreator.user.last_name}}{% if task.isxdepartmental %}({{task.origindept}}){% endif %}</td>
                            <td>{{task.datecreated}}</td>
                            <td>{{task.deadline}}</td>
                            <td><a href="{% url 'tasks.views.edit_task' task.pk %}">Edit</a></td>
                            <td><a href="{% url tasks.views.add_task task.pk %}">Create</a></td>
                        </tr>
                    {% endfor %}
            </table></p>
        
        {% else %}
                <p>No tasks assigned to {{userprofile.dept}}</p>
        
        {% endif %}
    
        
        
           
    {% endblock %}
